.element__description {
	display: flex;
	flex-direction: row;
	min-width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 0;
	background-color: white;
	border-radius: 0 0 10px 10px;
	box-sizing: border-box;
}