.element__text {
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29.05px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	max-width: calc(246px - 22px - 22px);
	margin: 22px 0 28px;
}