.element__likes-counter {
    max-width: 10px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin: 0;

    color: #000000;
    }