.popup__input {
	border: none;
	border-bottom: 1px solid rgb(0, 0, 0, .2);
	width: 100%;
	padding: 0 0 9px 0;
	box-sizing: border-box;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 5px;
}

.popup__input:invalid:placeholder-shown {
	border-bottom: 1px solid rgb(0, 0, 0, .2);
}

.popup__input:invalid {
	border-bottom: 1px solid #FF0000;
}