.profile__overlay{
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/Vector__edit-button.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20%;
    min-width: 120px;
	height: 120px;
	border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.profile__overlay:hover {
    opacity: 1;
}