.page {
	background-color: black;
	max-width: 880px;
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.page {
		max-width: 80%;
	}
}

@media screen and (max-width: 360px) {
	.page {
		max-width: 320px;
	}
}